GOOGLE_API=AIza.... your token
BOT_TOKEN= your token
# REDIS
REDIS_HOST=your host
REDIS_PORT=your port
REDIS_PASSWORD=zalupa
REDIS_DATABASE=2
# PGADMIN
PGADMIN_PORT=your port
PGADMIN_DEFAULT_EMAIL=admin@example.com
PGADMIN_DEFAULT_PASSWORD=admin12345
# DATABSE
DB_NAME=your name
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=127.0.0.1
DB_PORT=your port
#POSTGRES
POSTGRES_DB=your name
POSTGRES_USER=postgres
POSTGRES_PASSWORD=your password
POSTGRES_PORT=your port
# LOGGING
LOG_LEVEL=DEBUG
LOG_FORMAT=[%(asctime)s] %(levelname)-8s %(filename)s:%(lineno)d - %(name)s - %(message)s
# PROXY
HTTP_PROXY= your proxy (if Google is blocked in your country)
HTTPS_PROXY= your proxy (if Google is blocked in your country)
